<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>BinanceApi</title>
    <link rel='stylesheet' href='/css/a.css' />
  </head>
  <body>
    <nav>&nbsp;
      <a href="/setting" class="s-btn color-yellow"><b><small>설정</small></b></a>
      <a id="a_reload" href="javascript:void(0)" class="s-btn color-black"><b><small>갱신</small></b></a>
    </nav>
    <div class="wrap">
      <h5>설정 코인 이름 : <span class="text-red"><%= setCoin %></span>&nbsp;&nbsp;설정 USDT 수량 : <span class="text-red"><%= setAmount %></span></h5>
      <h1><%= coinUsdt %> 현재 가격</h1>
      <p><%= coinUsdtTicker %></p>
      <br />
      <h1><%= coin %> 현재 가격</h1>
      <p><%= coinTicker %></p>
      <p>
        <span id="btn_buy" class="btn color-red">구매</span>
        &nbsp;&nbsp;
        <a href="/h" class="btn color-black">구매 내역 조회</a>
      </p>
    </div>
  </body>
  <input id="i_coin" type="hidden" value="<%= setCoin %>" />
  <input id="i_amount" type="hidden" value="<%= setAmount %>" />
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/a.js"></script>
</html>
